.parallax-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.intro-screen {

}

#intro {

}

.container {
    transform: translateZ(-300px);
}

.parallax-group {
    position: relative;
    transform-style: preserve-3d;
}

