/* The container must be positioned relative: */
.custom-select {
    font-family: "Bebas Neue", cursive;
    font-size: 1rem;
    text-indent: .5rem;
    position: relative;
    display: block;
    width: 6rem;
    height: 1.9rem;
    background: transparent;
    outline: none;
    border-left: none;
    transition: .8s ease;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

.resume-div .resume-group a.disabled-resume-download {
    background: #e94427;
    pointer-events: none;
}
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 12px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #0f141a transparent transparent transparent;
    transition: .5s ease;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #0f141a transparent;
    top: 8px;
    transition: .5s ease;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    font-family: "Bebas Neue", cursive;
    height: 100%;
    color: #0f141a;
    padding-top: .2rem;
    padding-right: 1rem;
    transition: .5s ease;
    
    border: 1px solid currentColor;
}
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .5s ease;
  }

  .same-as-selected {
    background: #ffc74e;
    transition: .5s ease;
  }